.vp-sidebar-postcard {
  padding: .5rem 0rem;
  .postcard-category {
    text-transform: uppercase;
    font-size: .7rem;
    margin-top  : .5rem;
  }

  .postcard-title {
    font-weight: 600;
  }

  .postcard-date {
    font-size: .7rem;
    margin-top: .3rem;
  }
}